html,body { height:100%; }
.container {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.container-col {

    display: flex;
    flex: 1;
    width: 100%;
    position: relative;
    height: 100%;
    background-color: white;

}

.container-main {
    display: block;
    flex: 2;
    width: 100%;
    position: relative;
    height: calc(100%);
}

.list-group-item.items {
    margin-top: 10px;
    background-color: grey;

}
.list-group-item.items:hover{
    background-color: darkgray;
}
#sidebar{
    width: 100%;
    height:100%;
}

#root{
    width: 100%;
    height:100%;
}

.registerBox
{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}



.registerBox:focus {
    background-color: #ddd;
    outline: none;
}


.warningText{
    font-style: italic;
    color: red;
    margin-bottom: 5px;
}
.acceptableText{
    font-style: italic;
    color: green;
    margin-bottom: 5px;

}